<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDNVNRsDXEYsg_4esC41PXKB2vrxZoxfA</string>
	<key>GCM_SENDER_ID</key>
	<string>489160485172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapDemo</string>
	<key>PROJECT_ID</key>
	<string>gpstracker-84fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>gpstracker-84fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489160485172:ios:2c750f6dcf0b383c1a1d61</string>
	<key>DATABASE_URL</key>
	<string>https://gpstracker-84fdb-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>